@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: var(--color-pink-500);
    --color-primary-content: var(--color-pink-100);
    --color-error: var(--color-red-500);
    --color-error-content: var(--color-red-900);
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: var(--color-pink-500);
    --color-primary-content: var(--color-pink-100);
    --color-error: var(--color-red-500);
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
html {
    @apply bg-slate-50 dark:bg-slate-800 text-base-content;
}

@source "../../../**/*.{html,py,js}";
